
</div>

<div class="footer-padding"></div>
  <div class="footer">
    <h6>CONTACT ME</h6>
    <a class="footer-link" href="https://www.linkedin.com/">LinkedIn</a>
    <a class="footer-link" href="https://instagram.com/">Instagram</a>
    <a class="footer-link" href="https://facebook.com/">Facebook</a>
    <p> © 2022 by Aditi Dewangan.
      <br />
    All rights reserved</p>
</div>

</body>
</html>
