<%- include("partials/header"); -%>

    <h1>ABOUT</h1>

    <div class="row">

      <div class="col-lg-6 col-md-6">
        <img class="adi" src="images/Photo_Aditi Dewangan.png" alt="aditi-image">
      </div>

      <div class="col-lg-6 col-md-6">
          <h3 class="about-main">Welcome to my corner of the internet!</h3>
          <p class="about"> <%= aboutContent %> </p>
          <p class="about">I'm a Full Stack Web Developer. I like to learn new technologies and developed many websites.</p>
          <p class="about">I'm a Competitive programmer and I like to take part in various programmes and explore myself in different fields.</p>
          <p class="about">And I love coding 😊.</p>
      </div>
      
    </div>

<%- include("partials/footer"); -%>
