
<%- include("partials/header"); -%>

<section id="title">

  <div class="container-fluid">
    <div class="contentBx">
      <h4>The Best Form Of Expression Is</h4>
      <h2>BLOGGING!!</h2>
    </div>
  </div>

</section>







<%- include("partials/footer"); -%>
